.d-none {
    display: none !important;
}

  /* logo carosel */
  @keyframes slides {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .logos {
    overflow: hidden;
    padding-bottom: 30px;
    white-space: nowrap;
  
  }
  
  .logos:before, .logos:after {
    position: absolute;
    top: 0;
    content: '';
    width: 250px;
    height: 100%;
    z-index: 2;
  }
  
  .logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255,255,255,0), rgb(255, 255, 255));
  }
  
  .logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255,255,255,0), rgb(255, 255, 255));
  }
  
  .logo_items {
    display: inline-block;
    animation: 7s slides infinite linear;
  }
  
  .logos:hover .logo_items {
    animation-play-state:running
  }
  
   .running-logo{
    height: 100px;
  }

@media (max-width: 567px) {
    .none {
        display: none !important;
    }
    .pc-hide {
        display: none !important;
    }
    .ipad-hide {
        display: none !important;
    }
    .mobile-hide {
        display: block !important;
    }
    .d-none {
        display: block !important;
    }
}

@media (max-width: 769px) {
    .pc-hide {
        display: none !important;
    }
    .mobile-hide {
        display: none !important;
    }
    .ipad-hide {
        display: block !important ;
    }
}

.mobile-hide {
    display: none;
}
.ipad-hide {
    display: none ;
}